<div class="wrapper">
<div class="container">

  <h1 class="centre">Fintrak Academy Album</h1>
  <h2 class="legWork">You are welcome to my page</h2> 
  
<!-- 
<h1 class="yellow">Class Album {{name}}</h1>
<ul class="list-group small-width">
    <li class="list-group-item">Tosin</li>
    <li class="list-group-item">Sarah</li>
    <li class="list-group-item">Zino</li>
    <li class="list-group-item">najeeb</li>
</ul>
<hr> -->

<!-- <div class = "row">
  <div class="col-md-4">1</div>
  <div class="col-md-4">2</div>
  <div class="col-md-4">3</div>
</div> -->

<!-- <div class = "row">
  <div class="col-md-4" *ngFor="let trainees of academy; let i=index">{{i}}</div>
</div> -->



<!-- 
<ul class="list-group small-width li-no-bullet row">

    <li *ngFor="let trainees of academy" class="col-md-4"> -->

      
      <!-- </div> -->
      <div class="row">
        <div class="col-md-10">
          <div class = "row">
            <div class="col-md-4" *ngFor="let trainees of academy; let i=index">
            <app-trainee [trainees]="trainees"
             (selectedTrainee)="traineeListener($event)"></app-trainee>
            </div>
        </div>
      </div>
        <div class="col-md-2"></div>
         <div class="card" style="width: 18rem;" *ngIf= "activeTrainee">
        
          <img src="./assets/img/{{activeTrainee.image}}" class="card-img-top profile_pic" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{activeTrainee.name}}</h5>
            <p><strong>Complexion:</strong>{{activeTrainee.complexion}}</p>
            <p><strong>Hobbies:</strong></p>
            <ul>
                
          <li *ngFor='let hobby of activeTrainee.hobbies'>{{hobby}}</li>
            </ul>
          </div>
        </div>

      </div>
      </div>
        <!-- <div class="card" style="width: 18rem;">
        
          <img src="./assets/img/{{trainees.image}}" class="card-img-top profile_pic" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{trainees.name}}</h5>
            <p><strong>Complexion:</strong>{{trainees.complexion}}</p>
            <p><strong>Hobbies:</strong></p>
            <ul>
                
          <li *ngFor='let hobby of trainees.hobbies'>{{hobby}}</li>
            </ul>
          </div>
        </div> -->
          </div>

          </div>
      

        <!-- </li>
        </ul>
<app-album></app-album>
</div> -->
