.yellow {
    color:yellow;
    font-size: 50px;
}

.small-width {
    width: 300px;
}

.li-no-bullet {
    list-style: none;
}

.profile_pic {
    max-height: 10px;
}

.centre {
    text-align: center;
    color:red;
    font-size: 60px;
}

.wrapper {
    margin-top: 20px;
}

.legWork{
    text-align: left;
    color:blue;
    font-size: 30px;
}